.chat-header {
    top:0;
    width: 100%;
    margin-bottom:10px;
    background-color:#fff;

    div {

        display:flex;

        figure {
            margin:0;
            align-self:center;
            margin-right:15px;
            img{
                width: auto;
                height:50px;

                border-radius:100%;
            }
        }

        padding-left:10px;
        padding-right:10px;
    }
}
